<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/bootstrap.css" />
    <link rel="stylesheet" href="../static/styles/extras.css" />
    <title>Profile Page - {{ user.name }}</title>
</head>

<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block" style="text-decoration: none;" href={{url_for("index")}}>Home
                Page</a>
            <form action="/user/report" method="POST">
                <input class="py-2 d-none d-md-inline-block" type="submit" value="Report">
            </form>
            <form action={{url_for('logoutUser')}} method="post">
                <input class="py-2 d-none d-md-inline-block" type="submit" id="logout" name="logout" value="Logout">
            </form>
        </div>
    </nav>

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4 h-100">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            {% if user.name %}
                            <h5 class="my-3">{{ user.name }}</h5>
                            <p class="text-muted mb-1"><b>Role:</b> {{ user.role }}</p>
                            <p class="text-muted mb-4">@{{ user.username }}</p>
                            {% else %}
                            <h5 class="my-3">Anon</h5>
                            <p class="text-muted mb-1">user</p>
                            <p class="text-muted mb-4">@anon</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Edit name</p>
                                </div>
                                <div class="col-sm-9">
                                    <form action="/profile/details/update" method="post">
                                        <div class="input-group input-group-sm col-sm">
                                            <input type="text" class="form-control" id="name" name="name" value={{user.name}}>
                            
                                            <input class="btn btn-sm" type="submit" id="update" name="update" value="Update">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Role</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.role }}</p>
                                </div>
                            </div>
                            {% if user.role == 'Shop Owner' %}
                            <hr>
                            <div class="row">
                                <div>
                                    <form action="/shop">
                                        <button class="btn btn-lg btn-secondary btn-block w-100" type="submit" id="shop" name="shop">GO TO [SHOP]</button>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if user.favs %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="card-title"><b>Favorite Products</b></p>
                            {% for fav in user.favs %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"><b>Id:</b> {{ fav.id }}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><b>Name:</b> {{ fav.name }} &emsp;|&emsp; <b>Price:</b> {{ fav.price }} &emsp;|&emsp; <b>Category:</b> {{ fav.category }} &emsp;|</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="d-block mb-2">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                    <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                    <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                    <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                    <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                    <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                </svg>
                <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Business</a></li>
                    <li><a class="text-muted" href="#">Education</a></li>
                    <li><a class="text-muted" href="#">Government</a></li>
                    <li><a class="text-muted" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>