<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <h4>Cadastro de Usuário</h4>
        <form action="register-user" method="post">
            <p><label id="name">Name</label></p>
            <p><input type="text" id="name" name="name"></p>

            <p><label id="email">E-mail</label></p>
            <p><input type="email" id="email" name="email"></p>

            <p><label id="password">Password</label></p>
            <p><input type="password" id="password" name="password"></p>

            <p><label id="register">Register</label></p>
            <p><input type="submit" id="register" name="register" value="Register"></p>
        </form>
    </div>
    <div>
        <ul>
            <li>
                <a href={{url_for("index")}}>Back to Home</a>
            </li>
        </ul>
    </div>
</body>
</html>